
.split-pane-visible > ion-menu {
  max-width: 300px;
}

.active {
--ion-text-color: var(--ion-color-tertiary);
  ion-icon {
    --ion-text-color-rgb: var(--ion-color-tertiary);
  }
}

.active-parent {
font-weight: 500;
}

.sub-item {
padding-left: 10px;
  font-size: 15px;
}
.sub-ex-item {
  padding-left: 30px;
  font-size: 13px;
}
